[Unit]
Description=AI Tutor Slack Bot
[Service]
User=aitutor
WorkingDirectory=/opt/aitutor
ExecStart=/opt/aitutor/aitutor.sh
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
