services:

  web:
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-web:v0.2.7
    labels:
      - "traefik.http.routers.pingpong_web.rule=Host(`pingpong.hks.harvard.edu`)"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.hks.harvard.edu"
    build:
      args:
        sentry_dsn: https://54d1c8a998bf4cb271881a47e10f8070@o702726.ingest.sentry.io/4506613819506688
        node_env: production
        api_host: pingpong-srv.pingpong-prod:8000
        origin: https://pingpong.hks.harvard.edu

  srv:
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-srv:v0.2.7
    labels:
      - "traefik.http.routers.pingpong_api.rule=Host(`pingpong.hks.harvard.edu`) && PathPrefix(`/api`)"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.hks.harvard.edu"


secrets:
  app_config:
    file: /opt/pingpong/config.prod.toml
  webcrt:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.cer
  webkey:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.key
  traefikcrtcfg:
    file: /opt/pingpong/traefik-crt.yml
