services:

  traefik:
    # Make the dashboard available as well for debugging.
    # In prod it will be accessible only within the container!
    ports: ["80:80", "443:443", "9080:8080"]

  web:
    build:
      args:
        origin: https://pingpong.local
        node_env: development
    labels:
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.local"
      - "traefik.http.routers.pingpong_web.rule=Host(`pingpong.local`)"

  srv:
    labels:
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.local"
      - "traefik.http.routers.pingpong_api.rule=Host(`pingpong.local`) && PathPrefix(`/api`)"
    command: ["gunicorn", "pingpong:server", "-k", "uvicorn.workers.UvicornWorker", "-b", "0.0.0.0:8000", "--workers", "4", "--log-level", "debug"]
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "4"
          memory: 2048M

  authz:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 2048M

  db:
    platform: linux/amd64
    image: postgres:15.5
    container_name: pingpong-db
    networks: [back]
    ports: ["5432:5432"]
    command: -c 'max_connections=190'
    environment:
      POSTGRES_USER: pingpong
      POSTGRES_PASSWORD: pingpong
    volumes:
      - dbdata:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2048M

volumes:
  dbdata:
    driver: local
    driver_opts:
      type: none
      device: ./.db/pg
      o: bind
