services:

  web:
    build:
      args:
        origin: https://pingpong.local
        node_env: development
    labels:
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.local"
      - "traefik.http.routers.pingpong_web.rule=Host(`pingpong.local`)"

  srv:
    labels:
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://pingpong.local"
      - "traefik.http.routers.pingpong_api.rule=Host(`pingpong.local`) && PathPrefix(`/api`)"


  db:
    platform: linux/amd64
    image: postgres:15.5
    networks: [back]
    ports: ["5432:5432"]
    environment:
      POSTGRES_USER: pingpong
      POSTGRES_PASSWORD: pingpong
    volumes:
      - dbdata:/var/lib/postgresql/data


volumes:
  dbdata:
    driver: local
    driver_opts:
      type: none
      device: ./.db/pg
      o: bind
