version: "3.9"

services:
  web:
    platform: linux/amd64
    image: aitutor.azurecr.io/web:latest
    restart: always
    networks: [main]
    expose: [3000]
    ports: ["3000:3000"]
    secrets:
      - source: web_env
        target: /app/.env
        mode: 0400

  srv:
    platform: linux/amd64
    image: aitutor.azurecr.io/srv:latest
    restart: always
    networks: [main]
    # Expose metrics port for scraping
    expose: [8000]
    ports: ["8000:8000"]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    volumes:
      - dbdata:/db

networks:
  main:

# Use ephemeral volume in dev
volumes:
  dbdata:
    driver_opts: {}

# Use local config in dev
secrets:
  app_config:
    file: ./config.toml
  web_env:
    file: ./web/aitutor/.env
