version: "3.9"

services:

  traefik:
    platform: linux/amd64
    image: traefik:2.10.7
    container_name: pingpong-traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--ping"
      - "--accesslog=true"
    networks: [back, front]
    expose: [80, 443]
    ports: ["80:80", "443:443"]
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/ping"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    secrets:
    - source: webcrt
      target: /etc/ssl/srv.crt
      mode: 0400
    - source: webkey
      target: /etc/ssl/srv.key
      mode: 0400
    - source: traefikcrtcfg
      target: /etc/traefik/dynamic/traefik-crt.yml
      mode: 0400
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - logs:/logs


  authz:
    platform: linux/amd64
    image: openfga/openfga:v1.4.3
    container_name: pingpong-authz
    networks: [back]
    command: [run]
    expose: [8080, 8081, 3000]
    ports: ["8080:8080", "8081:8081", "3000:3000"]
    environment:
      OPENFGA_DATASTORE_MAX_OPEN_CONNS: 50
      OPENFGA_DATASTORE_MAX_IDLE_CONNS: 25
      OPENFGA_MAX_CONCURRENT_READS_FOR_CHECK: 100

    secrets:
    - source: openfgacfg
      mode: 0400
      target: /etc/openfga/config.yaml
    healthcheck:
      test: ["CMD", "/usr/local/bin/grpc_health_probe", "-addr=authz:8081"]
      interval: 5s
      timeout: 30s
      retries: 3


  web:
    platform: linux/amd64
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-web:latest
    build:
      context: ./web/pingpong
      dockerfile: Dockerfile
      args:
        port: 3000
    restart: always
    networks: [back]
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowheaders=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolmaxage=600"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowcredentials=true"
      - "traefik.http.routers.pingpong_web.entrypoints=websecure"
      - "traefik.http.routers.pingpong_web.tls=true"
      - "traefik.http.routers.pingpong_web.middlewares=cors"
      - "traefik.http.services.web-pingpong.loadbalancer.server.port=3000"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  srv:
    platform: linux/amd64
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-srv:latest
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    networks: [back]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowheaders=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolmaxage=600"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowcredentials=true"
      - "traefik.http.routers.pingpong_api.entrypoints=websecure"
      - "traefik.http.routers.pingpong_api.tls=true"
      - "traefik.http.routers.pingpong_api.middlewares=cors"
      - "traefik.http.services.srv-pingpong.loadbalancer.server.port=8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

networks:
  front:
  back:

# Use ephemeral volume in dev
volumes:
  dbdata:
    driver_opts: {}
  logs:
    driver_opts: {}

# Use local config in dev
secrets:
  app_config:
    file: ./config.dev.toml
  webcrt:
     file: ./cert/dev.crt
  webkey:
    file: ./cert/dev.key
  traefikcrtcfg:
    file: ./traefik-crt.yml
  openfgacfg:
    file: ./openfga-config.dev.yml
