services:
  web:
    build:
      args:
        node_env: production
        origin: https://aitutor.hks.harvard.edu

secrets:
  app_config:
    file: /opt/aitutor/config.prod.toml
  nginxcrt:
    file: /opt/aitutor/cert/aitutor.hks.harvard.edu.cer
  nginxkey:
    file: /opt/aitutor/cert/aitutor.hks.harvard.edu.key
