services:

  web:
    build:
      args:
        origin: https://pingpong.local
        node_env: development

  srv:
    command: ["gunicorn", "pingpong:server", "-k", "uvicorn.workers.UvicornWorker", "-b", "0.0.0.0:8000", "--workers", "4", "--log-level", "debug"]
    deploy:
      replicas: 1

  authz:
    deploy:
      replicas: 1

  db:
    platform: linux/amd64
    image: postgres:15.5
    container_name: pingpong-db
    ports: ["5432:5432"]
    command: -c 'max_connections=190'
    environment:
      POSTGRES_USER: pingpong
      POSTGRES_PASSWORD: pingpong
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
    driver: local
    driver_opts:
      type: none
      device: ./.db/pg
      o: bind
