volumes:
  dbdata:
    driver: local
    driver_opts:
      type: none
      device: /opt/aitutor/db
      o: bind

secrets:
  app_config:
    file: /opt/aitutor/config.toml
  web_env:
    file: /opt/aitutor/.env
