services:

  web:
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-web:${WEB_VERSION}
    build:
      args:
        sentry_dsn: https://54d1c8a998bf4cb271881a47e10f8070@o702726.ingest.sentry.io/4506613819506688
        node_env: production
        origin: https://pingpong.hks.harvard.edu

  srv:
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-srv:${SRV_VERSION}

  scripts:
    image: 654654251079.dkr.ecr.us-east-1.amazonaws.com/pingpong-scripts:${SRV_VERSION}


secrets:
  app_config:
    file: /opt/pingpong/config.prod.toml
  webcrt:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.cer
  webkey:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.key
  traefikcrtcfg:
    file: /opt/pingpong/traefik-crt.yml
