version: "3.9"

services:

  authz:
    platform: linux/amd64
    image: openfga/openfga:v1.6.0
    container_name: pingpong-authz
    command: [run]
    expose: [8080, 8081, 3003]
    ports: ["8080:8080", "8081:8081", "3003:3000"]
    environment:
      OPENFGA_DATASTORE_MAX_OPEN_CONNS: 40
      OPENFGA_DATASTORE_MAX_IDLE_CONNS: 25
      OPENFGA_MAX_CONCURRENT_READS_FOR_CHECK: 100
      OPENFGA_EXPERIMENTALS: enable-list-users
    secrets:
    - source: openfgacfg
      mode: 0400
      target: /etc/openfga/config.yaml
    healthcheck:
      test: ["CMD", "/usr/local/bin/grpc_health_probe", "-addr=authz:8081"]
      interval: 5s
      timeout: 30s
      retries: 3

  web:
    platform: linux/amd64
    image: pingpong-web:latest
    build:
      context: ./web/pingpong
      dockerfile: Dockerfile
      args:
        host: 0.0.0.0
        port: 3000
    restart: always
    expose: [80]
    ports: ["80:3000"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  srv:
    platform: linux/amd64
    image: pingpong-srv:latest
    build:
      context: ./
      dockerfile: Dockerfile.srv
    restart: always
    expose: [8000]
    ports: ["8000:8000"]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  scripts:
    platform: linux/amd64
    image: pingpong-scripts:latest
    build:
      context: ./
      dockerfile: Dockerfile.scripts
    restart: always
    ports: ["8001:8001"]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    env_file:
      - path: ./pingpong/scripts/airtable/.env.dev
        required: false
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

# Use ephemeral volume in dev
volumes:
  dbdata:
    driver_opts: {}
  logs:
    driver_opts: {}

# Use local config in dev
secrets:
  app_config:
    file: ./config.dev.toml
  traefikcrtcfg:
    file: ./traefik-crt.yml
  openfgacfg:
    file: ./openfga-config.dev.yml
