services:

  web:
    build:
      args:
        port: 3000
        origin: https://pingpong.local
        node_env: development

  srv:
    restart: no
    command: ["fastapi", "run", "pingpong", "--host", "0.0.0.0", "--port", "8000", "--workers", "4"]
    deploy:
      replicas: 1

  scripts:
    restart: no
    command: [ "sync_pingpong_with_airtable", "--host", "0.0.0.0", "--port", "8001" ]
    deploy:
      replicas: 1

  authz:
    restart: always
    deploy:
      replicas: 1

  db:
    restart: always
    platform: linux/amd64
    image: postgres:15.5
    container_name: pingpong-db
    ports: ["5432:5432"]
    command: -c 'max_connections=190'
    environment:
      POSTGRES_USER: pingpong
      POSTGRES_PASSWORD: pingpong
    volumes:
      - dbdata:/var/lib/postgresql/data
