services:
  web:
    build:
      args:
        sentry_dsn: https://54d1c8a998bf4cb271881a47e10f8070@o702726.ingest.sentry.io/4506613819506688
        node_env: production
        origin: https://pingpong.hks.harvard.edu

secrets:
  app_config:
    file: /opt/pingpong/config.prod.toml
  nginxcrt:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.cer
  nginxkey:
    file: /opt/pingpong/cert/aitutor.hks.harvard.edu.key
