name: Docker - Building PingPong Image
run-name: Build Docker Image for ${{ github.ref_name }}
on: workflow_dispatch

jobs:
  build-image:
    name: Build Docker Image
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract app version tag from commit
        run: |
          git fetch --tags
          TAGS=$(git tag --contains ${{ github.sha }})
          APP_TAG=$(echo "$TAGS" | grep -Eo 'app-v[0-9]+' | head -n 1)
          if [ -z "$APP_TAG" ]; then
            echo "No app tag found"
            exit 1
          fi
          echo "APP_TAG=$APP_TAG" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.PINGPONG_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.PINGPONG_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@cef2380b0d4c6813048ef6e1f7fd9ec1639bd3b5

      - name: Extract service type
        run: |
          # Extract the service type (web or srv) from the release tag
          SERVICE_TYPE=$(echo ${{ github.ref_name }} | cut -d'-' -f1)

          # Set the correct registry based on the service type
          if [ "$SERVICE_TYPE" == "web" ]; then
            echo "REGISTRY=${{ vars.PINGPONG_WEB_REGISTRY }}" >> $GITHUB_ENV
          elif [ "$SERVICE_TYPE" == "srv" ]; then
            echo "REGISTRY=${{ vars.PINGPONG_SRV_REGISTRY }}" >> $GITHUB_ENV
          else
            echo "Invalid service type"
            exit 1
          fi
          echo "SERVICE_TYPE=$SERVICE_TYPE" >> $GITHUB_ENV

      - name: Build service docker image
        run: |
          docker compose -f docker-compose.yml -f docker-compose.prod.yml build $SERVICE_TYPE

      - name: Push service docker image to repo
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 654654251079.dkr.ecr.us-east-1.amazonaws.com
          docker tag $REGISTRY:${GITHUB_REF##*-} $REGISTRY:$APP_TAG
          docker push $REGISTRY:${GITHUB_REF##*-}
          docker push $REGISTRY:$APP_TAG
