name: UI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Test Frontend
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      wd: ./web/pingpong/
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 21

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Linting
        working-directory: ${{env.wd}}
        run: pnpm lint

      - name: Type checking
        working-directory: ${{env.wd}}
        run: pnpm check

      - name: Check formatting
        working-directory: ${{env.wd}}
        run: |
          pnpm format

          # Verify no code changed
          git diff HEAD --exit-code || {
              echo
              echo -e "\033[91m" 'Looks like you did not check in formatted files :(' "\033[0m"
              echo
              echo -e "\033[91m" 'Run `pnpm format` and check in the result.' "\033[0m"
              exit 1
          }

      - name: Run tests
        working-directory: ${{env.wd}}
        run: pnpm test
