name: Releasing New App Version on AWS
run-name: "${{ github.event.release.prerelease && 'Staging' || 'Production' }}: Release ${{ github.event.release.tag_name }} on AWS"
concurrency: release

on:
  release:
    types: [published, released]

jobs:
  tag-image:
    name: Mark images for release
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.PINGPONG_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.PINGPONG_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@cef2380b0d4c6813048ef6e1f7fd9ec1639bd3b5

      - name: Tag server image for release
        env:
          ENVIRONMENT: ${{ github.event.release.prerelease && 'stage' || 'prod' }}
          APP_TAG: ${{ github.event.release.tag_name }}
        run: |
          aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin ${{ vars.PINGPONG_SRV_REGISTRY }}
          aws ecr batch-get-image --repository-name ${{ vars.PINGPONG_SRV_REGISTRY }} --image-ids imageTag=$APP_TAG --query 'images[].imageManifest' --output text > imageManifest.json
          aws ecr put-image --repository-name ${{ vars.PINGPONG_SRV_REGISTRY }} --image-tag ${{env.ENVIRONMENT}} --image-manifest file://imageManifest.json

      - name: Tag web image for release
        env:
          ENVIRONMENT: ${{ github.event.release.prerelease && 'stage' || 'prod' }}
          APP_TAG: ${{ github.event.release.tag_name }}
        run: |
          aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin ${{ vars.PINGPONG_WEB_REGISTRY }}
          aws ecr batch-get-image --repository-name ${{ vars.PINGPONG_WEB_REGISTRY }} --image-ids imageTag=$APP_TAG --query 'images[].imageManifest' --output text > imageManifest.json
          aws ecr put-image --repository-name ${{ vars.PINGPONG_WEB_REGISTRY }} --image-tag ${{env.ENVIRONMENT}} --image-manifest file://imageManifest.json
