name: Tag Commit

concurrency: production

on:
  push:
    branches:
      - main
    paths:
      - web/**
      - pingpong/**
      - conftest.py
      - poetry.lock
      - pyproject.toml

jobs:
  tag-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all tags and branches

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGithub

      - name: Check for web updates
        id: web-update
        run: |
          if [[ "${{ steps.changed-files.outputs.all_changed_files }}" == *"web/"* ]]; then
            echo "update=True" >> $GITHUB_OUTPUT
          else
            echo "update=False" >> $GITHUB_OUTPUT
          fi

      - name: Check for server updates
        id: server-update
        run: |
          if [[ "${{ steps.changed-files.outputs.all_changed_files }}" == *"pingpong/"* ]] || \
             [[ "${{ steps.changed-files.outputs.all_changed_files }}" == *"conftest.py"* ]] || \
             [[ "${{ steps.changed-files.outputs.all_changed_files }}" == *"poetry.lock"* ]] || \
             [[ "${{ steps.changed-files.outputs.all_changed_files }}" == *"pyproject.toml"* ]]; then
            echo "update=True" >> $GITHUB_OUTPUT
          else
            echo "update=False" >> $GITHUB_OUTPUT
          fi

      - name: Update versions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python -c "
          from github import Github
          import os, re

          def update_version(prefix):
              g = Github(os.environ['GITHUB_TOKEN'])
              repo = g.get_repo(os.environ['GITHUB_REPOSITORY'])
              tags = repo.get_tags()
              filtered_tags = [tag for tag in tags if tag.name.startswith(f'{prefix}-v')]
              versions = [int(re.search(rf'{prefix}-v(\d+)', tag.name).group(1)) for tag in filtered_tags]
              if not versions:
                raise Exception(f'No {prefix} version tags found')
              new_version = max(versions) + 1 if versions else 1
              repo.create_git_ref(f'refs/tags/{prefix}-v{new_version}', repo.get_commits()[0].sha)
              print(f'Created new tag: {prefix}-v{new_version}')

          changed_files = '${{ steps.changed-files.outputs.all_changed_files }}'
          
          if ${{ steps.web-update.outputs.update }}:
              update_version('web')
          
          if ${{ steps.server-update.outputs.update }}:
              update_version('srv')
          "