name: Tag Commit

concurrency: production

on:
  push:
    branches:
      - main
    paths:
      - web/**
      - pingpong/**
      - conftest.py
      - poetry.lock
      - pyproject.toml

jobs:
  tag-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all tags and branches

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Tag commit with new versions
        env:
          CHANGED_FILES_STRING: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set -e
          python << EOF
          import os
          import re
          import subprocess
          import sys

          def get_highest_version(prefix):
              tags = subprocess.check_output(['git', 'tag', '-l', f'{prefix}-v*']).decode().split()
              versions = []
              for tag in tags:
                  match = re.match(rf'{prefix}-v(\d+)$', tag)
                  if match:
                      try:
                          versions.append(int(match.group(1)))
                      except ValueError:
                          # If conversion to int fails, ignore this tag
                          print(f"Ignoring non-standard version tag: {tag}")
                          continue
              if not versions:
                raise ValueError(f"No valid {prefix} versions found.")
              return max(versions)

          def increment_version(prefix):
              highest = get_highest_version(prefix)
              return highest + 1

          try:
              changed_files = os.environ['CHANGED_FILES_STRING'].split(" ")
              web_update = any('web/' in file for file in changed_files)
              server_update = any('pingpong/' in file or file in ['conftest.py', 'poetry.lock', 'pyproject.toml'] for file in changed_files)

              tags = []
              if web_update:
                  new_web_version = increment_version('web')
                  tags.append(f'web-v{new_web_version}')
              if server_update:
                  new_srv_version = increment_version('srv')
                  tags.append(f'srv-v{new_srv_version}')

              for tag in tags:
                  subprocess.run(['git', 'tag', tag], check=True)

              if tags:
                  subprocess.run(['git', 'push', 'origin', '--tags'], check=True)
                  print(f"Successfully pushed new tags: {', '.join(tags)}")
              else:
                  print("No new tags to push.")

          except Exception as e:
              print(f"Error: {str(e)}", file=sys.stderr)
              sys.exit(1)
          EOF
        shell: bash
